<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GET ID</title>
  {{> head}}
<body>
    <div style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; background-size: cover; background-color: transparent; background-repeat: no-repeat; background-position: 50% 50%; background-image: none;" id="overlay">
    <video autoplay="" loop="" muted="" style="top: 0; left: 0;bottom: 0;right: 0;position: fixed;min-width: 100%;min-height: 100%;">
    <source src="https://s3.envato.com/h264-video-previews/34059cd0-dd46-4b46-b68c-6baab0f33ba3/1300084.mp4" type="video/mp4">
    </video>
    </div>
    <form class="form-signin" method="post" action="/nampro">
        <h1 class="h3 mb-3 font-weight-normal">LẤY UID THÀNH VIÊN NHÓM</h1>
        <label class="sr-only">LẤY UID THÀNH VIÊN NHÓM</label>
        <input type="text" name="idg" class="form-control" placeholder="ĐIỀN ID NHÓM">  </br>
        <input type="text" name="token2" class="form-control" placeholder="ĐIỀN TOKEN" value="EAACW5Fg5N2IBAN4IyWWJflVdAd6nZADMz21ejw2bTjZCKwbP1iH4yWXRHb0fdxgif8xPkzzQSN7ulRlu2KTv6k8I24A3tjCs7LKpB3eYikVrdMoOW2s6x3PmXkmfU2UdATmZB11pFiKbdsmoMkZA8tVhO3wxaBTY9tgDJLX4fAZDZD">  </br>
        <button class="btn btn-lg btn-primary btn-block" onclick="diss()" id="ahihia" name="btn" type="submit">GET ID</button>
    </form>
</body>
</html>